@model IPagedList<ETicketWebClient.ETicketService.Event>
@{
    ViewBag.Title = "Home";
}

@using PagedList.Mvc;
@using PagedList;

<div class="row">
    <h2 style="font-weight: bold; Calibri; margin-left:15px;">Events</h2>

    <form method="get" align="center">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search By Title" />
    </form>
    

    @foreach (var item in Model)
    {
        <div style="margin-top: 20px;" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <img style="display: block; margin-left: auto; margin-right: auto; width: 100%;" src="https://picsum.photos/300/200" />
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>

                    @{ var GateOpens = item.GateOpens.ToString("HH:mm"); }
                    @{ var StartTime = item.StartTime.ToString("HH:mm"); }


                    @{ var Date = item.Date.ToString("dd-MM-yyyy"); }
                    @Html.DisplayFor(modelItem => Date)
                    <br />
                    <b>Available Tickets: </b> @Html.DisplayFor(modelItem => item.AvailableTickets)


                    <p style="margin-top: 10px;">
                        @Html.DisplayFor(modelItem => item.Description)
                    <p>
                        <b>Gate: </b> @Html.DisplayFor(modelItem => item.Gate)
                        <br />
                        <b>Gate Opens: </b> @Html.DisplayFor(modelItem => GateOpens)
                        <br />
                        <b>Start Time: </b> @Html.DisplayFor(modelItem => StartTime)
                        <br />
                        <b>Price: </b> @Html.DisplayFor(modelItem => item.TicketPrice) DKK
                    </p>
                    </p>
                    <p>
                        <a href="/Event/@Html.DisplayFor(modelItem => item.EventId)" class="btn btn-primary" role="button">Buy</a>
                    </p>
                </div>
            </div>
        </div>
    }

</div>

@Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i, page=Request.QueryString["page"] }))