@model IPagedList<ETicketWebClient.ETicketService.Event>
@{
    ViewBag.Title = "Home";
}

@using PagedList.Mvc;
@using PagedList;

<div class="row">
    <h2 style="font-weight: bold; Calibri; margin-left:15px;">Events</h2>

    <form style="width: 360px; display: flex; justify-content: space-between; margin: auto;" method="get">
        <input type="search" class="form-control" name="searchTerm" />
        <input  class="btn btn-danger" type="submit" value="Search" />
    </form>


    @foreach (var item in Model)
    {
        <div style="margin-top: 20px;" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <a href="/Event/Details/@Html.DisplayFor(modelItem => item.EventId)">
                        <img style="display: block; margin-left: auto; margin-right: auto; width: 100%;" src="https://picsum.photos/300/200" />
                        <h3>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h3>
                    </a>
                    @{ var GateOpens = item.GateOpens.ToString("HH:mm"); }
                    @{ var StartTime = item.StartTime.ToString("HH:mm"); }


                    @{ var Date = item.Date.ToString("dd-MM-yyyy"); }
                    @Html.DisplayFor(modelItem => Date)
                    <br />
                    <b>Available Tickets: </b> @Html.DisplayFor(modelItem => item.AvailableTickets)


                    <p style="margin-top: 10px; min-height: 90px;">
                        @{
                            var Description = item.Description;
                            if (Description.Length > 200)
                            {
                                Description = Description.Substring(0, 200);
                            }
                        }
                        @Html.DisplayFor(modelItem => Description)
                    <p>
                        <b>Gate: </b> @Html.DisplayFor(modelItem => item.Gate)
                        <br />
                        <b>Gate Opens: </b> @Html.DisplayFor(modelItem => GateOpens)
                        <br />
                        <b>Start Time: </b> @Html.DisplayFor(modelItem => StartTime)
                        <br />
                        <b>Price: </b> @Html.DisplayFor(modelItem => item.TicketPrice) DKK
                    </p>
                    </p>
                    <p>
                        <a href="/Event/Details/@Html.DisplayFor(modelItem => item.EventId)" class="btn btn-primary" role="button">View</a>
                    </p>
                </div>
            </div>
        </div>
    }

</div>

@Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i, page = Request.QueryString["page"] }))