@model ETicketWebClient.ETicketService.Event

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Title)
</h2>
@{ var Date = Model.Date.ToString("dd-MM-yyyy"); }
<b>@Html.DisplayFor(model => Date)</b>

<div>
    <img style="display: block; margin-left: auto; margin-right: auto;" src="https://picsum.photos/500/300" />
    <hr />
    <p style="margin-bottom: 20px;">
        @Html.DisplayFor(model => model.Description)
    </p>

    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TicketPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TicketPrice) DKK
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd>
                    @{ var StartTime = Model.StartTime.ToString("dd-MM-yyyy"); }
                    @Html.DisplayFor(model => StartTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GateOpens)
                </dt>
                <dd>
                    @{ var GateOpens = Model.GateOpens.ToString("dd-MM-yyyy"); }
                    @Html.DisplayFor(model => GateOpens)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AvailableTickets)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AvailableTickets)
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            @if (User.Identity.IsAuthenticated)
            {
                <form method="POST" action="/Order/Create" class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Buy Tickets</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Quantity</label>
                            <div class="col-md-4">
                                <input onchange="setTotalAmount()" name="Quantity" id="Quantity" type="number" placeholder="" min="1" max="@Model.AvailableTickets" class="form-control input-md" required="">
                                <input type="hidden" id="EventId" name="EventId" value="@Model.EventId" />
                                @Html.AntiForgeryToken()
                                <br />
                                <b>Total <i id="amount">0</i> DKK</b>

                                <script>
                                    function setTotalAmount() {
                                        var x = document.getElementById("Quantity").value;
                                        document.getElementById("amount").innerHTML = x*@Model.TicketPrice; 
                                    }
                                </script>

                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="buy"></label>
                            <div class="col-md-5">
                                <button id="buy" name="buy" class="btn btn-success">Buy</button>
                            </div>
                        </div>

                    </fieldset>
                </form>


            }
            else
            {
                <b>Please <a href="/Account/Login">login</a> to buy tickets</b>
            }
        </div>

    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
